// .BikeTile {
//   &-link {
//     display: block;
//   }

//   &-img {
//     position: relative;
//     max-width: 100%;
//     display: block;
//   }

//   &-info {
//     position: relative;
//     padding: 0 10% 10% 10%;
//     // margin-top: -14px;

//     &-heading {
//       font-size: 2.6rem;
//       letter-spacing: 14px;
//     }

//     &-list {
//       margin-top: 1.4rem;
//       list-style: none;
//     }

//     &-item {
//       margin-bottom: 1.2rem;

//       &:last-child {
//         margin-bottom: 0;
//       }
//     }

//     &-span {
//       display: block;

//       &:first-child {
//         font-size: 1.3rem;
//         margin-bottom: 0.2rem;
//         letter-spacing: 2px;
//       }

//       &:last-child {
//         font-size: 0.9rem;
//         color: var(--text-secondary);
//         letter-spacing: 1px;
//       }
//     }
//   }
// }

.biketile {
  &-link {
    display: block;
  }

  &-color-btn {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: -1;
      transition: transform 300ms ease-out;
    }

    &:disabled::after {
      transform: scale(1.5);
      transition: transform 300ms ease-out;
    }

    // &:disabled {
    //   cursor: auto;
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     border-radius: 50%;
    //     background-color: rgba(0, 0, 0, 0.1);
    //     transform: scale();
    //     z-index: -1;
    //   }
    // }

    // &:enabled:hover::after {
    //   content: "";
    //   position: absolute;
    //   height: 100%;
    //   width: 100%;
    //   top: 0;
    //   left: 0;
    //   border-radius: 50%;
    //   background-color: red;
    //   transform: scale(2);
    //   z-index: -1;
    // }
  }

  &-image {
    position: relative;
    max-width: 100%;
    width: 100%;
    display: block;
  }

  &-info {
    position: relative;
    padding: 0 10% 10% 10%;
    // margin-top: -14px;

    &-heading {
      font-size: 2.6rem;
      letter-spacing: 14px;
    }

    &-list {
      margin-top: 1.4rem;
      list-style: none;
    }

    &-item {
      margin-bottom: 1.2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-span {
      display: block;

      &:first-child {
        font-size: 1.3rem;
        margin-bottom: 0.2rem;
        letter-spacing: 2px;
      }

      &:last-child {
        font-size: 0.9rem;
        color: var(--text-secondary);
        letter-spacing: 1px;
      }
    }
  }
}
