.BikeTile {
  &-link {
    display: block;
    background-color: white;
  }

  &-image {
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block;
  }

  &-info {
    position: relative;
    padding: 3.5rem 0 3rem 0;

    @media (min-width: 1024px) {
      padding: 4.5rem 0 3rem 0;
    }
  }

  &-name {
    position: absolute;
    top: 0;
    left: 3rem;
    font-size: 2.6rem;
    letter-spacing: 14px;
    transform: translateY(-50%);

    @media (min-width: 1024px) {
      font-size: 3.2rem;
      top: 0;
      left: 4rem;
    }
  }

  &-list {
    list-style: none;
    margin-left: 3rem;

    @media (min-width: 1024px) {
      margin-left: 4rem;
    }
  }

  &-item {
    margin-bottom: 1.4rem;

    @media (min-width: 1024px) {
      margin-bottom: 1.6rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      display: block;

      &:first-child {
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
        letter-spacing: 2px;
      }

      &:last-child {
        font-size: 1rem;
        color: var(--text-secondary);
        letter-spacing: 1.2px;
      }

      @media (min-width: 768px) {
        &:first-child {
          font-size: 1.6rem;
          margin-bottom: 0.4rem;
        }
      }

      @media (min-width: 1024px) {
        &:first-child {
          font-size: 1.8rem;
          margin-bottom: 0.4rem;
        }
        &:last-child {
          font-size: 1.2rem;
        }
      }
    }
  }

  &-colordot-group {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;

    @media (min-width: 425px) {
      flex-direction: row;
      top: 0;
    }

    @media (min-width: 1024px) {
      right: 3rem;
    }
  }

  &-colordot {
    position: relative;
    width: 22px;
    height: 22px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 50%;

    @media (min-width: 1024px) {
      margin: 0.6rem;
      width: 26px;
      height: 26px;
    }

    &:disabled {
      cursor: default;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: -1;
      transition: transform 300ms ease-out;
    }

    &:disabled::after {
      transform: scale(1.5);
      transition: transform 300ms ease-out;
    }
  }
}
